<div class="container">
  <h2>Languages</h2>

  {{#if data.length}}
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Code</th>
        <th class="text-end">Actions</th>
      </tr>
      </thead>

      <tbody>
      {{#each data}}
        <tr>
          <td>{{@index}}</td>
          <td><img src="{{this.iconSrc}}" width="24px" height="24px"/></td>
          <td>{{this.code}}</td>
          <td class="d-flex justify-content-end align-items-center gap-2">
            <a href="/admin/languages/{{this.id}}" class="btn btn-primary"><i class="fas fa-edit"></i> Edit</a>
            <form method="post" action="/admin/languages/delete/{{this.id}}">
              <button type="submit" data-id="{{this.id}}" class="btn btn-danger delete-btn"><i class="fas fa-trash"></i> Delete</button>
            </form>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{/if}}

  <p class="not-available">No available languages.</p>

  <a href="/admin/languages/create" id="createLanguageBtn" class="btn btn-success float-end">Create New Language</a>
</div>

<style>
  table + .not-available {
    display: none
  }
</style>

<script src="/js/languages/index.js"></script>